body {background-color:white; margin:0px 0px 0px; padding:0px 0px 0px 0px;}

#LoginUI {background-color:pink; width:1024px; height:768px;}

#MainGame {background-color:green; width:100%; height:100%;}

#ResultUI {background-color:blue; width:1024px; height:768px;}
